body  {
background-image: url("background_header.jpg");
height:auto;
width:auto;

}
h1  {
color: white;
text-decoration-line:underline;
text-decoration-style:solid;
text-decoration-thickness:5px;
font-size:50px;
text-align: center;
}
p{
text-align: center;
background-color:blue;
}
body {
color: white;
font-size:30px;
}
img {
height:250px;
width:250px;
border: solid;
border-color: black;
}
table, th, td{
border: 3px solid;
color: black;
background-color:blue;

}
.center{
margin-left:auto;
margin-right:auto;

}
a:link{
border:3px, solid, black;

color: black;
background-color:green;
}
a:visited{
color: white;
}
a:hover{
color: blue;
}
#myheader{
padding:40px;
border:3px solid darkblue;

}
