body  {
background-image: url("Pillar_edit.jpg");
height:auto;
width:auto;

}
h1  {
color: white;
text-decoration-line:underline;
text-decoration-style:solid;
text-decoration-thickness:5px;
font-size:50px;


}
body {
color: white;
font-size:30px;
}
img {
max-height:100%;
max-width:100;

}
